.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .button {
    width: 200px;
    overflow: hidden;
    text-align: center;
    background-image: url("comics/buttonhintergrund.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  
  .content{
    background-image: url("comics/bodygerahmt.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  h1{
    font-size: 2rem !important;
  }